<nav class="menu" tabindex="0">
    <div class="smartphone-menu-trigger"></div>
    <header class="avatar">
        <img src="{{ asset('build/placeholderAdmin.png') }}" alt="">
        <h2>Admin</h2>
    </header>
    <ul>
        <li tabindex="0">
            <a href="{{ path('admin_index') }}#admin_perform">
                <span>PERFORM</span>
            </a>
        </li>
        <li tabindex="0">
            <a href="{{ path('admin_index') }}#admin_crew">
                <span>THE CREW</span>
            </a>
        </li>
        <li tabindex="0">
            <a href="{{ path('admin_index') }}#admin_price">
                <span>PRICE</span>
            </a>
        </li>
        <li tabindex="0">
            <a href="{{ path('home_index') }}">
                <span>VISITOR VIEW</span>
            </a>
        </li>
        <li tabindex="0">
            <a href="{{ path('app_logout') }}">
                <span>LOG OUT</span>
            </a>
        </li>
    </ul>
</nav>