{% extends 'admin/layout_admin.html.twig' %}

{% block title %}Perform{% endblock %}

{% block body %}
    <h1>Perform</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ perform.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ perform.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ perform.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ perform.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('perform_index') }}">back to list</a>

    <a href="{{ path('perform_edit', {'id': perform.id}) }}">edit</a>

    {{ include('admin/perform/_delete_form.html.twig') }}
{% endblock %}
